#.htaccess


RewriteEngine On

# Redirigir todo a web/router.php excepto archivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ web/router.php?url=$1 [QSA,L]
 